/* static/css/base.css */

.container {
  width: 100%;
  max-width: 1024px;
  padding: auto;
  margin: auto;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
border-radius: 5px;
}

/* Ниже на редактирование */

.page-header {  
  font-family: 'Lobster';
  color: rgb(255, 255, 255);
  font-size: 50px;
  background-color: #ff9400;
  padding: 25px;
  margin: 5px;
  text-transform: uppercase;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
  border-radius: 5px;
}

body {
  width: 100%;
  max-width: 1024px;
  padding-left: auto;
  padding-right: auto;
  font-size: 18px;
  background-color: aliceblue;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
  border-radius: 5px;
  
}

.main {
  margin: 5px;
  padding: 5px;
  background-color: beige;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
  border-radius: 5px;
}

.div-main {
margin: 5px;
padding: 5px;
border: 2px solid rgb(230, 230, 230);
box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
border-radius: 5px;
}

.p-aside {
font-size: 16px;
box-shadow: 5px 5px 10px rgb(21, 255, 0);
border-radius: 5px;
}

.a-site {
font-size: 20px;
margin: 5px;
padding: 5px;
box-shadow: 5px 5px 10px rgb(25, 0, 255);
border-radius: 5px;
}

.a-site-title {
text-decoration: none;
font-size: 20px;
margin: 5px;
padding: 5px;
text-transform: uppercase;
text-shadow: 0px 0px 1px #000000;
text-rendering: auto;
}

.a-site-more-detailed {
font-size: 14px;
margin: 5px;
padding: 5px;
text-shadow: 0px 0px 1px #000000;
text-rendering: auto;
}

.p-site-title {
font-size: 20px;
margin: 5px;
padding: 5px;
text-shadow: 0px 0px 1px #000000;
text-rendering: auto;
}

.p-text {
font-size: 16px;
margin: 5px;
padding: 5px;
text-shadow: 0px 0px 1px #000000;
text-rendering: auto;
}

.p-text-cat {
font-size: 16px;
margin: 5px;
padding: 5px;
text-shadow: 0px 0px 1px #000000;
text-rendering: auto;
}

/*FOOTER*/

.footer {
  margin: 5px;
  padding: 5px;
  height: auto;
  height: auto;
  background-color: #ff9400;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
  border-radius: 5px;
}

.footer-author {
  margin: 5px;
  padding: 5px;
  font-size: 24px;
  text-shadow: 0px 0px 1px #000000;
  text-rendering: auto;
}

.footer-p {
  margin: 5px;
  padding: 5px;
  font-size: 16px;
  text-shadow: 0px 0px 1px #000000;
  text-rendering: auto;
}


/* Стиль окна поиска НУЖЕН*/
#mySearch {
width: 100%;
font-size: 18px;
padding: 11px;
border: 1px solid #ddd;
}

/* Стиль меню навигации */
#myMenu {
list-style-type: none;
padding: 0;
margin: 0;
}

/* Стиль навигационных ссылок */
#myMenu li a {
padding: 12px;
text-decoration: none;
color: black;
display: block
}

#myMenu li a:hover {
background-color: #eee;
}

/* Добавьте черный цвет фона в верхнюю панель навигации. */
.topnav {
background-color: #333;
overflow: hidden;
}

/* Стиль ссылок внутри панели навигации */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Изменить цвет ссылок при наведении */
.topnav a:hover {
background-color: #ddd;
color: black;
}

/* Добавить цвет активной/текущей ссылке */
.topnav a.active {

background-color: #4CAF50;
color: white;
}


/*Нужен*/
/* Style the links inside the sidenav */
#mySidenav a {
position: absolute; /* Position them relative to the browser window */
left: -80px; /* Position them outside of the screen */
transition: 0.3s; /* Add transition on hover */
padding: 15px; /* 15px padding */
width: 100px; /* Set a specific width */
text-decoration: none; /* Remove underline */
font-size: 20px; /* Increase font size */
color: white; /* White text color */
border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
left: 0; /* On mouse-over, make the elements appear as they should */
}


/*Нужен*/

/* The about link: 20px from the top with a green background */
#about {
top: 20px;
background-color: #4CAF50;
}

#blog {
top: 80px;
background-color: #2196F3; /* Blue */
}

#projects {
top: 140px;
background-color: #f44336; /* Red */
}

#contact {
top: 200px;
background-color: #555 /* Light Black */
}

/* Add a black background color to the top navigation */
.topnav {
background-color: #333;
overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #4CAF50;
color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
float: right;
}

.div-center {
  margin: 5px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #d8d8d8;
  height: auto;
  width: 20%;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
  border-radius: 5px;
}

/*Пагинация по центру*/

.pagination {
  padding: 5px;
  margin: 5px;
  color: #2196F3;
  text-shadow: 1px 1px 2px black, 0 0 1em red; /* Параметры тени */
}
